
envs:
  dev:
    vpcs:
      - code: pn-core
        idx: 1 # Secondo ottetto della VPC, deve essere non sovrapposto con altre VPC di altri ambienti
    azs: 3
    accounts:
      - code: pn-core
        base_dns: dev.notifichedigitali.it
        aws_id: "830192246553" # Stringhe non numeri
        vpcse:
          # - Va valorizzato con l'output "ConfInfo_ServiceEndpoint_ToDataVault" del terraform "main" 
          #   dell'account pn-confinfo dello stesso ambiente
          to_data_vault: "com.amazonaws.vpce.eu-south-1.vpce-svc-05e7543f3ead0c903" 
          # - Va valorizzato con l'output "ConfInfo_ServiceEndpoint_ToExternalChannelSafeStorage" del 
          #   terraform "main" dell'account pn-confinfo dello stesso ambiente
          to_extch_safestorage: "com.amazonaws.vpce.eu-south-1.vpce-svc-07d53855bfe7d3c4a"
        params:
          pn_cors_addictive_sources: "http://localhost:8090,https://pg-webapp.fe-prototype.dev.notifichedigitali.it,https://pa-webapp.fe-prototype.dev.notifichedigitali.it,https://pf-webapp.fe-prototype.dev.notifichedigitali.it"
          pn_auth_fleet_addictive_allowed_issuer: "https://dev.selfcare.pagopa.it,https://uat.selfcare.pagopa.it,https://pnpg.dev.selfcare.pagopa.it,https://pnpg.uat.selfcare.pagopa.it"
          pn_cost_anomaly_detection_email: "pn-irt-team@pagopa.it"
          pn_cost_anomaly_detection_threshold: "10"
          #Landing (pn-showcase) conf.
          pagopa_zone_delegation_enabled: false
          generate_landing_multi_domain_cdn_cert: false
          enable_landing_cdn_redirect_function: false
          landing_cdn_allowed_internal_zones:
            - "dev.notifichedigitali.it"
          landing_cdn_allowed_external_zones:
            - "notifichedigitali.pagopa.it"
          landing_multi_domain_cert_domains:
            - "showcase.dev.notifichedigitali.it"
            - "www.dev.notifichedigitali.it"
            - "dev.notifichedigitali.pagopa.it"
            - "www.dev.notifichedigitali.pagopa.it"
          landing_single_domain: "showcase"
          external_roles_config:
            "SendExtAdmin":
              managed_policies:
                - "AdministratorAccess"
            SendExtReadOnly:
              managed_policies:
                - "ReadOnlyAccess"
              inline_policies:
                - name: KmsDecrypt
                  file: "./policies/kms-decrypt.json"
                - name: AthenaRead
                  file: "./policies/athena-read.json"
            SendExtPowerUser:
              managed_policies:
                - "ReadOnlyAccess"
                - "AmazonSSMFullAccess"
                - "SecretsManagerReadWrite"
                - "AWSCodeBuildDeveloperAccess"
                - "AmazonDynamoDBFullAccess"
                - "AWSLambda_FullAccess"
              inline_policies:
                - name: KmsDecrypt
                  file: "./policies/kms-decrypt.json"
                - name: CfnUpload
                  file: "./policies/cfn-upload.json"
                - name: AthenaRead
                  file: "./policies/athena-read.json"
          
      - code: pn-confinfo
        base_dns: spid.dev.notifichedigitali.it
        aws_id: "089813480515"  # Stringhe non numeri
        params:
          # FIXME PN-5586: definire in formato fisso "pn-ss-storage-pnssbucket-<AWS::Region>-<AWS::AccountId>"
          pn_safestorage_data_bucket_name: "pn-safestorage-eu-south-1-089813480515" 
      - code: pn-radd
        aws_id: "830192246553"  # Stringhe non numeri
      - code: pn-servicedesk
        aws_id: "911845998067"  # Stringhe non numeri
      - code: pn-cicd
        aws_id: "911845998067"  # Stringhe non numeri

  test:
    vpcs:
      - code: pn-core
        idx: 6
    azs: 3
    accounts:
      - code: pn-core
        base_dns: test.notifichedigitali.it
        aws_id: "151559006927" # Stringhe non numeri
        vpcse:
          to_data_vault: "com.amazonaws.vpce.eu-south-1.vpce-svc-0c61021a745c4c6c7"
          to_extch_safestorage: "com.amazonaws.vpce.eu-south-1.vpce-svc-06e9167128c810a62"
        params:
          pn_cors_addictive_sources: "http://localhost:8090"
          pn_auth_fleet_addictive_allowed_issuer: "https://dev.selfcare.pagopa.it,https://uat.selfcare.pagopa.it,https://pnpg.dev.selfcare.pagopa.it,https://pnpg.uat.selfcare.pagopa.it"
          pn_cost_anomaly_detection_email: "pn-irt-team@pagopa.it"
          pn_cost_anomaly_detection_threshold: "10"
          #Landing (pn-showcase) conf.
          generate_landing_multi_domain_cdn_cert: false
          enable_landing_cdn_redirect_function: false
          landing_cdn_allowed_internal_zones:
            - "test.notifichedigitali.it"
          landing_cdn_allowed_external_zones:
            - "notifichedigitali.pagopa.it"
          landing_multi_domain_cert_domains:
            - "showcase.test.notifichedigitali.it"
            - "www.test.notifichedigitali.it"
            - "test.notifichedigitali.pagopa.it"
            - "www.test.notifichedigitali.pagopa.it"
          landing_single_domain: "showcase"
          external_roles_config:
            "SendExtAdmin":
              managed_policies:
                - "AdministratorAccess"
            SendExtReadOnly:
              managed_policies:
                - "ReadOnlyAccess"
              inline_policies:
                - name: KmsDecrypt
                  file: "./policies/kms-decrypt.json"
                - name: AthenaRead
                  file: "./policies/athena-read.json"
            SendExtPowerUser:
              managed_policies:
                - "ReadOnlyAccess"
                - "AmazonSSMFullAccess"
                - "SecretsManagerReadWrite"
                - "AWSCodeBuildDeveloperAccess"
                - "AmazonDynamoDBFullAccess"
                - "AWSLambda_FullAccess"
              inline_policies:
                - name: KmsDecrypt
                  file: "./policies/kms-decrypt.json"
                - name: CfnUpload
                  file: "./policies/cfn-upload.json"
                - name: AthenaRead
                  file: "./policies/athena-read.json"
      - code: pn-confinfo
        base_dns: spid.test.notifichedigitali.it
        aws_id: "771887334808"  # Stringhe non numeri
        params:
          pn_safestorage_data_bucket_name: "pn-safestorage-eu-south-1-771887334808"
      - code: pn-radd
        aws_id: "654090169999"  # Stringhe non numeri
      - code: pn-servicedesk
        aws_id: "533236674075"  # Stringhe non numeri
      - code: pn-cicd
        aws_id: "911845998067"  # Stringhe non numeri
        
  uat:
    vpcs:
      - code: pn-core
        idx: 7
    azs: 3
    accounts:
      - code: pn-core
        base_dns: uat.notifichedigitali.it
        aws_id: "644374009812" # Stringhe non numeri
        vpcse:
          to_data_vault: "com.amazonaws.vpce.eu-south-1.vpce-svc-0137ff603c40224ec" 
          to_extch_safestorage: "com.amazonaws.vpce.eu-south-1.vpce-svc-0d3e538b0b0956de4"
        params:
          pn_cors_addictive_sources: ""
          pn_auth_fleet_addictive_allowed_issuer: "https://uat.selfcare.pagopa.it,https://pnpg.uat.selfcare.pagopa.it"
          pn_cost_anomaly_detection_email: "pn-irt-team@pagopa.it"
          pn_cost_anomaly_detection_threshold: "10"
          #Landing (pn-showcase) conf.
          generate_landing_multi_domain_cdn_cert: false
          enable_landing_cdn_redirect_function: false
          landing_cdn_allowed_internal_zones:
            - "uat.notifichedigitali.it"
          landing_cdn_allowed_external_zones:
            - "notifichedigitali.pagopa.it"
          landing_multi_domain_cert_domains:
            - "showcase.uat.notifichedigitali.it"
            - "www.uat.notifichedigitali.it"
            - "uat.notifichedigitali.pagopa.it"
            - "www.uat.notifichedigitali.pagopa.it"
          landing_single_domain: "showcase"
          external_roles_config:
            "SendExtAdmin":
              managed_policies:
                - "AdministratorAccess"
            SendExtReadOnly:
              managed_policies:
                - "ReadOnlyAccess"
              inline_policies:
                - name: KmsDecrypt
                  file: "./policies/kms-decrypt.json"
                - name: AthenaRead
                  file: "./policies/athena-read.json"
            SendExtPowerUser:
              managed_policies:
                - "ReadOnlyAccess"
                - "AmazonSSMFullAccess"
                - "SecretsManagerReadWrite"
                - "AWSCodeBuildDeveloperAccess"
                - "AmazonDynamoDBFullAccess"
                - "AWSLambda_FullAccess"
              inline_policies:
                - name: KmsDecrypt
                  file: "./policies/kms-decrypt.json"
                - name: CfnUpload
                  file: "./policies/cfn-upload.json"
                - name: AthenaRead
                  file: "./policies/athena-read.json"
      - code: pn-confinfo
        base_dns: spid.uat.notifichedigitali.it
        aws_id: "956319218727"  # Stringhe non numeri
        params:
          pn_safestorage_data_bucket_name: "pn-safestorage-eu-south-1-956319218727" 
      - code: pn-radd
        aws_id: "554102482368"  # Stringhe non numeri
      - code: pn-servicedesk
        aws_id: "533236674075"  # Stringhe non numeri
      - code: pn-cicd
        aws_id: "911845998067"  # Stringhe non numeri


  prod:
    vpcs:
      - code: pn-core
        idx: 10
    azs: 3
    accounts:
      - code: pn-core
        base_dns: notifichedigitali.it
        aws_id: "510769970275" # Stringhe non numeri
        vpcse:
          to_data_vault: "com.amazonaws.vpce.eu-south-1.vpce-svc-056fd08051998e388"
          to_extch_safestorage: "com.amazonaws.vpce.eu-south-1.vpce-svc-0c36fae336946e891"
        params:
          pn_cors_addictive_sources: ""
          pn_auth_fleet_addictive_allowed_issuer: "https://selfcare.pagopa.it,https://pnpg.selfcare.pagopa.it"
          pn_cost_anomaly_detection_email: "pn-irt-team@pagopa.it"
          pn_cost_anomaly_detection_threshold: "10"
          pn_dns_extra_cname_entries: '{\"assistenza\": \"hc-send.zendesk.com\"}'
          #Landing (pn-showcase) conf.
          generate_landing_multi_domain_cdn_cert: true
          enable_landing_cdn_redirect_function: true
          landing_cdn_allowed_internal_zones:
            - "notifichedigitali.it"
            - "notifichedigitali.pagopa.it"
          landing_multi_domain_cert_domains:
            - "showcase.notifichedigitali.it"
            - "www.notifichedigitali.it"
            - "notifichedigitali.pagopa.it"
            - "www.notifichedigitali.pagopa.it"
          landing_single_domain: "www"
      - code: pn-confinfo
        base_dns: spid.notifichedigitali.it
        aws_id: "350578575906"  # Stringhe non numeri
        params:
          pn_safestorage_data_bucket_name: "pn-safestorage-eu-south-1-350578575906"
      - code: pn-radd
        aws_id: "510769970275"  # Stringhe non numeri
      - code: pn-servicedesk
        aws_id: "277345554283"  # Stringhe non numeri


  hotfix:
    vpcs:
      - code: pn-core
        idx: 15
    azs: 3
    accounts:
      - code: pn-core
        base_dns: hotfix.notifichedigitali.it
        aws_id: "207905393513" # Stringhe non numeri
        vpcse:
          to_data_vault: "com.amazonaws.vpce.eu-south-1.vpce-svc-028e57d02dfd2ba53" 
          to_extch_safestorage: "com.amazonaws.vpce.eu-south-1.vpce-svc-09f2a367f89a819f3"
        params:
          pn_cors_addictive_sources: ""
          pn_auth_fleet_addictive_allowed_issuer: "https://uat.selfcare.pagopa.it,https://pnpg.uat.selfcare.pagopa.it"
          pn_cost_anomaly_detection_email: "pn-irt-team@pagopa.it"
          pn_cost_anomaly_detection_threshold: "10"
          #Landing (pn-showcase) conf.
          generate_landing_multi_domain_cdn_cert: false
          enable_landing_cdn_redirect_function: false
          landing_cdn_allowed_internal_zones:
            - "hotfix.notifichedigitali.it"
          landing_cdn_allowed_external_zones:
            - "notifichedigitali.pagopa.it"
          landing_multi_domain_cert_domains:
            - "showcase.hotfix.notifichedigitali.it"
            - "www.hotfix.notifichedigitali.it"
            - "hotfix.notifichedigitali.pagopa.it"
            - "www.hotfix.notifichedigitali.pagopa.it"
          landing_single_domain: "showcase"
          external_roles_config:
            "SendExtAdmin":
              managed_policies:
                - "AdministratorAccess"
            SendExtReadOnly:
              managed_policies:
                - "ReadOnlyAccess"
              inline_policies:
                - name: KmsDecrypt
                - name: AthenaRead
            SendExtPowerUser:
              managed_policies:
                - "ReadOnlyAccess"
                - "AmazonSSMFullAccess"
                - "SecretsManagerReadWrite"
                - "AWSCodeBuildDeveloperAccess"
                - "AmazonDynamoDBFullAccess"
                - "AWSLambda_FullAccess"
              inline_policies:
                - name: KmsDecrypt
                - name: CfnUpload
                - name: AthenaRead
      - code: pn-confinfo
        base_dns: spid.hotfix.notifichedigitali.it
        aws_id: "839620963891"  # Stringhe non numeri
        params:
          pn_safestorage_data_bucket_name: "pn-safestorage-eu-south-1-839620963891" 
      - code: pn-radd
        aws_id: "515674411184"  # Stringhe non numeri
      - code: pn-servicedesk
        aws_id: "533236674075"  # Stringhe non numeri
      - code: pn-cicd
        aws_id: "911845998067"  # Stringhe non numeri


accounts:
  - code: pn-core
    dns:
      api:
        - api
        - webapi
        - api-io
        - api.radd
        - api.bo
        - api-selcpg
        - api.cn
        - api.dest
      cdn:  
        - selfcare
        - cittadini
        - login
        - imprese
        # - status
        - www
        - showcase
        - maps
        - helpdesk
    has_apigw: true
    has_landing: true
    vpcs:
      - code: pn-core
        name: PN Core
        primary_cidr: 10.<vpc_idx>.0.0/16
        aws_svc:
          net: aws
          interfaces_endpoints:
            - "sqs"
            - "logs"
            - "sns"
            - "kms"
            - "kinesis-streams"
            - "elasticloadbalancing"
            - "events"
            - "ecr.api"
            - "ecr.dkr"
            - "ssmmessages"
            - "ssm"
            - "ec2messages"
            - "ecs-agent"
            - "ecs-telemetry"
            - "ecs"
            - "secretsmanager"
            - "monitoring"
            - "xray"
        networks:
          - code: public
            name: Public
            gateway: 
              type: igw
            has_nat: true
            first_net_ip: 10.<vpc_idx>.1.0
            net_size: 16

          - code: api-gw
            name: API-GW VpcLink
            gateway: null
            first_net_ip: 10.<vpc_idx>.3.0
            net_size: 16
            nlb: true

          - code: radd
            name: RADD Ingress
            gateway: null
            first_net_ip: 10.<vpc_idx>.5.0
            net_size: 16
            nlb: true

          - code: core
            name: PnCore
            gateway: null
            first_net_ip: 10.<vpc_idx>.20.0
            net_size: 256
            export_cidrs: true

          - code: core-egress
            name: PnCore Egress
            gateway: 
              type: nat
              network: public
            first_net_ip: 10.<vpc_idx>.40.0
            net_size: 256
            export_cidrs: true

          - code: to_confinfo
            name: To Confidential Info
            gateway: null
            first_net_ip: 10.<vpc_idx>.60.0
            net_size: 256
            export_cidrs: true

          - code: aws
            name: AWS Services
            gateway: null
            first_net_ip: 10.<vpc_idx>.70.0
            net_size: 256
            has_iface_endpoints: true
            
          - code: opensearch
            name: OpenSearch
            gateway: null
            first_net_ip: 10.<vpc_idx>.80.0
            net_size: 256
            export_cidrs: true
            
          - code: servicedesk
            name: Service Desk Ingress
            gateway: null
            first_net_ip: 10.<vpc_idx>.7.0
            net_size: 16
            nlb: true   

        # interconnections:
        #   - from: api-gw
        #     to: core
        #   - from: radd
        #     to: core
        #   - from: core
        #     to: core-egress
        #   - from: core-egress
        #     to: public
        #   - from: core
        #     to: conf-info
        #   - from: core
        #     to: conf-info
        #   - from: core
        #     to: opensearch
  
